---
http_interactions:
- request:
    method: get
    uri: https://horizon-testnet.stellar.bloomx.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline
      Content-Type:
      - application/hal+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575981'
      X-Ratelimit-Reset:
      - '2986'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "_links": {
            "account": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}",
              "templated": true
            },
            "account_transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/accounts/{account_id}/transactions{?cursor,limit,order}",
              "templated": true
            },
            "assets": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/assets{?asset_code,asset_issuer,cursor,limit,order}",
              "templated": true
            },
            "metrics": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/metrics"
            },
            "order_book": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/order_book{?selling_asset_type,selling_asset_code,selling_asset_issuer,buying_asset_type,buying_asset_code,buying_asset_issuer,limit}",
              "templated": true
            },
            "self": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/"
            },
            "transaction": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions/{hash}",
              "templated": true
            },
            "transactions": {
              "href": "https://horizon-testnet.stellar.bloomx.org:443/transactions{?cursor,limit,order}",
              "templated": true
            }
          },
          "horizon_version": "v0.14.2",
          "core_version": "v10.0.0",
          "history_latest_ledger": 1135839,
          "history_elder_ledger": 1126840,
          "core_latest_ledger": 1135839,
          "network_passphrase": "Test SDF Network ; September 2015",
          "protocol_version": 10
        }
  recorded_at: Tue, 11 Dec 2018 10:14:22 GMT
- request:
    method: post
    uri: https://horizon-testnet.stellar.bloomx.org/transactions
    body:
      encoding: UTF-8
      string: tx=AAAAAKLltHrO%2Bp4tNPuzAuP9o0y%2FPzv4yEDfOWpMKtoKRdehAAAAZAAAAAAAAAABAAAAAAAAAAAAAAABAAAAAQAAAACGvOPidZMfElREjF54soYzY%2BQVvuzxwMlXx6D0WAcagQAAAAEAAAAAS3ffbP2mP6kVK4I5Okx5xKL5y56p0uR637pbLDXh1qwAAAAAAAAAAACYloAAAAAAAAAAAgpF16EAAABA%2Fv1opJO94xp%2B3NNtBVW%2FskbsY6Sgvra%2BttccgMHGzjTc8OIJAxamske417RS%2Bqw3Vi0frgVS%2Frqufe5K3JFxDFgHGoEAAABANuUMY%2FZZ9Ii55HSEUUidxUUPtGxjtNTn4jrM%2FGs4S%2BHlLTToG8yv8pLszP%2B1l5wSTVnyiCldCaXF7UmdVSZoCA%3D%3D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      X-Ratelimit-Limit:
      - '1576000'
      X-Ratelimit-Remaining:
      - '1575980'
      X-Ratelimit-Reset:
      - '2985'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "https://stellar.org/horizon-errors/transaction_failed",
          "title": "Transaction Failed",
          "status": 400,
          "detail": "The transaction failed when submitted to the stellar network. The `extras.result_codes` field on this response contains further details.  Descriptions of each code can be found at: https://www.stellar.org/developers/learn/concepts/list-of-operations.html",
          "extras": {
            "envelope_xdr": "AAAAAKLltHrO+p4tNPuzAuP9o0y/Pzv4yEDfOWpMKtoKRdehAAAAZAAAAAAAAAABAAAAAAAAAAAAAAABAAAAAQAAAACGvOPidZMfElREjF54soYzY+QVvuzxwMlXx6D0WAcagQAAAAEAAAAAS3ffbP2mP6kVK4I5Okx5xKL5y56p0uR637pbLDXh1qwAAAAAAAAAAACYloAAAAAAAAAAAgpF16EAAABA/v1opJO94xp+3NNtBVW/skbsY6Sgvra+ttccgMHGzjTc8OIJAxamske417RS+qw3Vi0frgVS/rqufe5K3JFxDFgHGoEAAABANuUMY/ZZ9Ii55HSEUUidxUUPtGxjtNTn4jrM/Gs4S+HlLTToG8yv8pLszP+1l5wSTVnyiCldCaXF7UmdVSZoCA==",
            "result_codes": {
              "transaction": "tx_bad_seq"
            },
            "result_xdr": "AAAAAAAAAAD////7AAAAAA=="
          }
        }
  recorded_at: Tue, 11 Dec 2018 10:14:22 GMT
recorded_with: VCR 4.0.0
